#footer {
    padding: 2.625rem 0;
    background: url("/img/footer-bg.jpg") no-repeat center center;
    background-size: cover;
}

#footer .sv-footer-logo {
    display: flex;
    align-items: center;
    padding-left: 4.375rem;
}

#footer h3 {
    font-family: var(--font-teko-medium);
    font-weight: 500;
    font-size: 2rem;
    line-height: 1;
    color: var(--red);
    margin-bottom: 1rem;
}

#footer ul:not(.sv-footer-social-logos) li:not(:last-of-type) {
    margin-bottom: 1rem;
}

#footer ul:not(.sv-footer-social-logos) li a {
    font-family: var(--font-tt-lakes);
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.4;
    color: var(--blue);
    text-decoration: none;
    padding: .5rem .5rem .5rem 0;
    position: relative;
}

#footer ul:not(.sv-footer-social-logos) li a:hover::after {
    content: "";
    width: calc(100% - .5rem);
    height: 2px;
    display: inline;
    background-color: var(--blue);
    position: absolute;
    left: 0;
    bottom: 3px;
}

#footer .sv-footer-social-logos {
    display: flex;
    gap: 1.875rem;
    margin-top: 2.9375rem;
}