#sv-footer {
    padding: 2.625rem 0;
    background: url("../img/footer-bg.jpg") no-repeat center center;
    background-size: cover;
}

#sv-footer .sv-footer-logo {
    display: flex;
    align-items: center;
    padding-left: 4.375rem;
}

#sv-footer .sv-footer-logo svg .sv-footer-logo-axes {
    transition: .3s;
}

#sv-footer .sv-footer-logo svg:hover .sv-footer-logo-axes {
    fill: var(--red);
    opacity: 1;
    transition: .3s;
}

#sv-footer h3 {
    font-family: var(--font-teko-medium);
    font-weight: 500;
    font-size: 2rem;
    line-height: 1;
    color: var(--red);
    margin-bottom: 1rem;
}

#sv-footer ul:not(.sv-footer-social-logos) li:not(:last-of-type) {
    margin-bottom: 1rem;
}

#sv-footer ul:not(.sv-footer-social-logos) li a {
    font-family: var(--font-tt-lakes);
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.4;
    color: var(--blue);
    text-decoration: none;
    padding: .5rem .5rem .5rem 0;
    position: relative;
}

#sv-footer ul:not(.sv-footer-social-logos) li a:hover::after {
    content: "";
    width: calc(100% - .5rem);
    height: .125rem;
    display: inline;
    background-color: var(--blue);
    position: absolute;
    left: 0;
    bottom: 3px;
}

#sv-footer .sv-footer-social-logos {
    display: flex;
    gap: 1.875rem;
    margin-top: 2.9375rem;
    margin-left: 20.625rem;
}

@media (max-width: 1399px) {
    #sv-footer .sv-footer-logo {
        padding-left: .75rem;
    }

    #sv-footer .sv-footer-social-logos {
        margin-left: 17.875rem;
    }
}

@media (max-width: 1199px) {
    #sv-footer .sv-footer-logo svg {
        width: 70%;
    }

    #sv-footer .sv-footer-social-logos {
        margin-left: 15rem;
    }
}

@media (max-width: 991px) {
    #sv-footer .sv-footer-logo {
        margin-top: 2.9375rem;
    }

    #sv-footer .sv-footer-social-logos {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    #sv-footer .sv-footer-content div:not(.sv-footer-logo, :last-of-type) {
        margin-bottom: 2.5rem;
    }
}