/** Change scrollbar theme */
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--grey);
}
  
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: .625rem;
}
  
*::-webkit-scrollbar-track {
    background: var(--grey);
}
  
*::-webkit-scrollbar-thumb {
    background: var(--red);
    border-radius: 1.25rem;
    border: 3px solid var(--grey);
}

.sv-section {
    opacity: 0;
}

.bi-facebook,
.bi-twitter,
.bi-youtube {
    transition: .3s;
}

.bi-facebook:hover {
    fill: #0766FF;
    transition: .3s;
}

.bi-twitter:hover {
    fill: #18A2F8;
    transition: .3s;
}

.bi-youtube:hover {
    fill: #FF0000;
    transition: .3s;
}

/** Animation */
.anime-left {
    opacity: 0;
    transform: translateX(-200px);
    animation: animeLeft .8s forwards;
}

@keyframes animeLeft {
    to {
        opacity: 1;
        transform: initial;
    }
}